/*********************************************/
/**               Inline code               **/
/*********************************************/
p code,
li code,
td code,
dd code {
	display: inline;
	padding: 0px 6px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	background-color: #CCCCCC;
	border: 1px solid #333333;

	color: #333333;
}

/*********************************************/
/**               Download url              **/
/*********************************************/
.download_url {
	font-weight: bold;
	font-size: 150%;
	line-height: 150%;
}

/*********************************************/
/**              H1 in textblocks           **/
/*********************************************/
.textblock h1 {
    /*border-bottom: 1px solid  #0D4F8B ;*/
    /*border-left: 3px solid  #0D4F8B ;*/
	/*border-right: 3px solid  #0D4F8B ;*/
	/*border-top: 1px solid  #0D4F8B ;*/
    margin: 40px 0px 10px 0px;
	background: linear-gradient(to bottom, #F0F8FF 0%, #ffffff 100%);
	color: #104E8B;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 5px;
}

.textblock h1:first-child {
	margin-top: 10px;
}

/*********************************************/
/**               Resizable UI              **/
/*********************************************/
.ui-resizable-e {
	width: 10px;
}